<div class="event-new-container">
  <h1 class="text-center">修正する</h1>

  <div class="new-event">
    <%= render 'form', event: @event %>

    <%= link_to '記録詳細', @event %> |
    <%= link_to ' カレンダーへ戻る ', events_path %>
  </div>
</div>
