// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*=============================
  index.html.erb
=============================*/
.calendar-list {
  width: 100%;
  padding-top: 100px;
}

.btn-new-calendar {
  width: 250px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  display: block;
  text-align: center;
  background-color: #fda832;
  border-bottom: 4px solid #fd9402;
  border-radius: 4px;
  margin-left: 70px;
}

.btn-new-calendar:active {
  -webkit-transform: translateY(4px);
  border-bottom: none;
  transform: translateY(4px);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  background-color: #fdbd62;
}

.fc-header-toolbar {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  padding-right: 50px;
}

.fc-center h2 {
  width: 300px;
  color: #fda832;
  font-size: 34px;
  font-weight: bold;
}

.fc-view-container {
  margin: 0 50px;
}
.fc-basic-view {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}

.fc-ltr{
  height: 500px;
}

.fc-sun {
  color: red;
  background-color: #fff0f0;
}

.fc-sat {
  color: blue;
  background-color: #f0f0ff;
}

/*=============================
  new.html.erb
=============================*/
.event-new-container {
  padding-top: 100px;

  margin-left: auto;
  margin-right: auto;
}

.new-event-form {
  padding: 40px 0 15px 0;
}

.new-event {
  text-align: center;
}

.text-white {
  color: #fda52b;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}

.new-form-control {
  width: 400px;
  height: 100px;
  border: 3px solid #fec87d;
  border-radius: 5px;
  resize: none;
}

.color-select {
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  height: 30px;
}

.color-select.Health {
  background-color: #fdb858;
}

.color-select.Food {
  background-color: #c1fe96;
}

.color-select.Medicine {
  background-color: #f1d2ed;
}

.color-select.Hospital {
  background-color: #a7e4e5;
}

textarea::placeholder {
  color: #bababa;
  font-size: 14px;
}
/*=============================
  show.html.erb
=============================*/
.show-calendar-list {
  padding-top: 100px;
}

.show-event {
  width: 750px;
  height: 450px;
  background-color: #fefdfb;
  box-shadow: 0 0 6px 3px #eac48f;
  border: 3px dashed #fda832;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}

.show-event-detail {
  margin-bottom: 85px;
}

.show-event p {
  width: 500px;
  text-align: left;
  margin: 0 auto;
  margin-top: 30px;
}

strong {
  color: #fda832;
  font-size: 23px;
  font-weight: bold;
  border: 3px outset  #fda832;
  padding: 4px;
}

.show-event span {
  color: #707070;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}
