/*=============================
  共通レイアウト
==============================*/
body {
  background-color: rgba(253, 245, 230, 0.5);
  font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
/*=============================
  new.html.erb
==============================*/
/*-- header ---*/
header {
  height: 64px;
  width: 100%;
  position: absolute;
  z-index: 1;
  background-color: rgba(22, 22, 28, 0.4);
}

.header-logo {
  float: left;
  padding-left: 20px;
  color: white;
  font-size: 22px;
  line-height: 64px;
}

.header-logo a{
  color: white;
  font-size: 22px;
}

.header-menus {
  float: right;
  padding-right: 20px;
}

.header-menus li {
  float: left;
  line-height: 64px;
  font-size: 13px;
  color: white;
  padding-left: 15px;
}

.header-menus a {
  float: left;
  font-size: 13px;
  color: white;
}

.header-menus input[type="submit"] {
  padding: 0 20px;
  float: left;
  line-height: 64px;
  color: white;
  margin: 0;
  font-size: 20px;
}

/*--- form ---*/
.form-control {
  height: 45px;
}

.users-new-container {
  padding-top: 220px;
  flex-direction: column;
}

.text-center {
  font-size: 30px;
  font-weight: bold;
  color: #fda832;
}

.form-group {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}
/*=============================
  show.html.erb
==============================*/
.user {
  border: 3px dashed  #fda832;
  margin: 120px 0;
  padding: 50px;
  border-radius:15px;
}

.user-image img {
  width: 450px;
  border-radius: 30%;
  box-shadow: 0 0 6px 3px #fda832;
  object-fit: cover;
  float: left;
}

.user-informations {
  display: block;
  display: flex;
  flex-direction: column;
  text-align: left;
  float: left;
  margin-left: 50px;
}

.user-group {
  margin-bottom: 20px;
}

.user-group h3 {
  color: #fda832;
  font-size: 30px;
  font-weight: bold;
  border: 3px outset  #fda832;
  margin: 5px 0;
}

.user-group p {
  color: #707070;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}

.user-tabs {
  margin-top: 40px;
  padding: 0;
  top: 50px;
  position: relative;
  float: left;
  position:sticky;
}

.user-tabs li {
  width: 150px;
  font-size: 14px;
  border-left: solid 8px orange;/*左側の線*/
  background: whitesmoke;/*背景色*/
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  border-radius: 0 15px 15px 0;/*右側の角だけ丸く*/
  padding: 0.5em;
  list-style-type: none!important;
}

.user-tabs li.active {
  background-color:rgba(255,172,77,0.6);
}

.user-tabs li.active a {
  color: black;
}

.user-tabs a {
  display: inline-block;
  color: #afb6bf;
}

.user-topic {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fda832;
}

.user-topic-single {
  width: 600px;
  background-color: white;
  padding: 50px 0;
  border: 1px solid #e6ecf0;
  border-radius: 3px;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 50px auto;
}

.post-menus {
  float: right;
}

.post-menus a, .post-menus input {
  color: #8899a6;
  text-decoration: underline;
  font-size: 14px;
  margin-right: 1rem;
}
/*=============================
  edit.html.erb
==============================*/
.users-edit-container {
  margin-top: 100px;
}